# Entorno virtual
venv/
env/
ENV/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class
*.so

# Base de datos
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de prueba
.pytest_cache/
.coverage
htmlcov/
